@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: none;
}

@keyframes shakeCenter {
  0%, 100% {
    left: 50%;
  }
  25% {
    left: 51%;
  }
  75% {
    left: 49%;
  }
}

.error-center {
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.shake-center {
  animation: shakeCenter 0.2s ease-in-out 0s 2;
}

.absolutely-center {
  @apply absolute top-1/2 translate-x-[-50%] translate-y-[-50%] left-1/2
}